# Core ML & Math
## we want cuda 12 to continue support for volta cards
--extra-index-url https://download.pytorch.org/whl/cu129

torch
torch-geometric
scikit-learn
numpy
pandas
scipy

# Plotting & Debugging (optional but useful)
matplotlib
tqdm

# Graph, 3D & Mesh Utilities
networkx
trimesh
pyvista
vtk

# YAML Config
PyYAML

# Geometry / Spatial indexing (used in PyVista/Voronoi, if needed)
rtree

# Optional dependencies used in your pipeline or UI
fastparquet
pyarrow

# Packaging
nuitka
zstandard

